{{ domainname }} {
	root * /calendar/build
    {% if domainname != 'localhost' %}
        basicauth / {
            {{ ba_user }} {{ ba_pw_hashed }}
        }
    {% endif +%}
	file_server
    handle /api/* {
		uri strip_prefix /api
		reverse_proxy backend:8000
	}
}
